BasedOnStyle: LLVM

IndentWidth: 2
TabWidth: 2
UseTab: Never

ColumnLimit: 100

AllowShortLoopsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true

BreakBeforeBraces: Attach
PointerAlignment: Left
ReferenceAlignment: Left

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false

SortIncludes: false
IncludeBlocks: Preserve
